.blog-post {
    max-width: 900px;
    margin: 2rem auto;
    background-color: var(--secondary-bg);
    display: grid;
    grid-template-areas: 
    "blog blog blog aside";
    grid-gap: 3rem;
    padding: 1rem;
}

.blog-article h2 {
    padding: 2rem;
}

figcaption {
    padding-top: 0.8rem;
    text-align: right;
    font-size: 0.8rem;
}

.author {
    grid-area: aside;
}

.blog-article {
    grid-area: blog;
}

blockquote {
    color: var(--primary-text);
    border-left: 3px solid var(--primary);
    padding-left: 1rem;
}

@media (max-width: 600px) {
    .blog-post {
        grid-template-areas: 
        "blog"
        "aside";
        grid-gap: 3rem;
        padding: 1rem;
        max-width: 90vw;
    }
}
