footer {
    background-color: var(--secondary-bg);
    padding: 2rem;
    width: 100vw;
}

.social-media,
.copyright {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
}

.social-media__icons {
    display: flex;
}

.fa {
    color: var(--primary);
    padding: 0 1rem;
    font-size: 1.5rem !important;
    box-sizing: border-box;
}

.fa:hover {
    cursor: pointer;
    font-size: 1.6rem !important;
}

.fa-copyright {
    padding: 0 0.5rem;
    font-size: 1rem !important;
}

.copyright p {
    font-size: 0.7rem;
}

@media (max-width: 600px) {
    .social-media {
        flex-direction: column;
    }
    .social-media__icons {
        margin-top: 1rem;
    }
}