#nav-bar {
    width: 100vw;
    position: sticky;
    top: 0;
    background-color: var(--secondary-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
}

#nav-bar h1 {
    font-size: 2rem;
}

.nav-bar__links {
    display: flex;
    max-width: 50%;
    flex-wrap: wrap;
}

.nav-bar__links li {
    list-style: none;
    padding: 0 1rem;
}

.nav-bar__links li a {
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .nav-bar__links li {
        padding: 0.5rem 1rem;
    }

    #nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-bar__links {
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 1rem;
    }
}

@media (max-width: 300px) {
    .nav-bar__links {
        flex-wrap: wrap;
    }
}