.subscribe {
    background-color: var(--secondary-bg);
    max-width: 900px;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 0.5rem;
}

.subscribe form {
    display: flex;
    align-items: center;
}

input {
    padding: 0.4rem;
    margin: 0 1rem;
    border: 1px solid var(--primary-text);
    border-radius: 3px;
}

input::placeholder {
    color: var(--primary-text);
    opacity: 0.5;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    .subscribe form {
        flex-direction: column;
        max-width: 90vw;
    }

    input {
        margin: 1rem;
    }
}