<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Macrame from beginner to expert</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Hind+Madurai:wght@400;500;600;700&family=Nanum+Myeongjo:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="./blogs/coaster.html" rel="import" />
</head>

<body>
    <div id="main-container">

        <nav id="nav-bar">
            <h1>Macrame from beginner to expert</h1>
            <ul class="nav-bar__links">
                <li><a href="index.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#knots">Knots</a></li>
                <li><a href="#patterns">Patterns</a></li>
            </ul>
        </nav>

        <main class="blog-post">
            <aside class="author">
                <div class="author-img">
                    <img src="./images/author.jpg" alt="Portrait of author.">
                </div>
                <p class="author-name">Dita</p>
                <p class="author-title">SW developer</p>
                <p class="author-company">TietoEvry Oy</p>
                <p class="author-bio">Hello, my name is Dita. I'm from Latvia. But for many years my home country is
                    Finland. Few years ago I got interested in programming and started to learn from different sources
                    Front End development. After hard work, I finally got my first job as SW developer in the dream
                    company Tietoevry Oy.
                    Three years ago I got pregnant with my first baby and last year I gave birth to my second baby.
                    While sitting home with her I got interested in macrame. And now it's my hobby. Love creating and
                    inventing new designs. It's like meditation.
                </p>
            </aside>

            <section class="blog-article">
                <!-- Title of the blog -->
                <h2></h2>
                <!-- Image of the blog -->
                <figure>
                    <img src="" alt="">
                    <figcaption></figcaption>
                </figure>
                <!-- Second title of the blog -->
                <h3></h3>
                <!-- Blog -->
                <p><span class="tab">While</span>
                </p>
                <br>
                <!-- Text -->
                <p><span class="tab"></span></p>
                <br>
                <!-- Quote -->
                <blockquote cite="https://blog.gratefulness.me/new-beginnings-quotes/">
                    “What would life be if we had no courage to attempt anything?”
                    <br>
                    -Vincent Van Gogh
                </blockquote>
            </section>
        </main>

        <div class="subscribe">
            <form>
                <p>Subscribe for newsletter</p>
                <input type="email" placeholder="Email">
                <button class="primary-btn" type="submit">Subscribe</button>
            </form>
        </div>

        <footer>
            <div class="social-media">
                <p>Don't forgot to check out our social media</p>
                <div class="social-media__icons">
                    <a href="https://www.youtube.com/@meroputalibydita" target="_blank"><i
                            class="fa fa-youtube"></i></a>
                    <a href="https://www.instagram.com/meroputali/" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.facebook.com/meroputalidita" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
            <hr>
            <div class="copyright">
                <i class="fa fa-copyright"></i>
                <p>Mero Putali by Dita, 2022. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>

</html>